body {
    font-family: Arial, sans-serif;
    background-color: #f9e1e1; /* Color de fondo */
}

nav {
    background-color: #8a3030;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    padding: 20px;
}

.category {
    margin-bottom: 20px;
}

.category h2 {
    background-color: #333;
    color: white;
    padding: 10px;
}

.game {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game p {
    color: #666;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #f9e1e1;
}

.barra-superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #8a3030;
    border-radius: 50px;
    padding: 5px;
}

.cont-izq {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 20px;
}

.cont-der {
    display: flex;
    margin-left: auto;
    gap: 5px;
}

.cont-der a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.lineaV {
    width: 3px;
    height: 100px;
    background-color: white;
    border: none;
    transform: rotate(180deg);
    margin-left: 25px;
    margin-right: 25px;
}

.buscador input {
    padding: 8px;
    border-radius: 50px;
    width: 300px;
    margin-left: 75px;
}

.buscador button {
    border-radius: 5px;
}

.logo img {
    height: 300px;
    width: auto;
    margin-right: 55px;
}

.iconos img {
    width: 60px;
    height: auto;
    margin-right: 75px;
}

.lineaA {
    border: none;
    height: 4px;
    background-color: rgb(38, 40, 75);
    width: 100%;
}

.lineaB {
    border: none;
    height: 2px;
    background-color: rgb(95, 95, 95);
    width: 100%;
}

.separador {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(245, 180, 180);
    border-radius: 50px;
    padding: 5px;
}

.banner img {
    height: 100%;
    width: 100%;
}

.juego-1, .juego-2 {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

.info-1, .info-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    width: 80%;
}

.compra {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.precio {
    padding: 5px;
    font-size: x-large;
    margin-right: 25px;
}

.juego-1 button, .juego-2 button {
    border-radius: 5px;
    width: 75px;
    height: 25px;
}

.barra-inferior {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #8a3030;
    border-radius: 50px;
    padding: 5px;
}

.inferior {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.metodo-pago img {
    margin-left: 10px;
    width: 250px;
    height: auto;
}

.horario {
    margin-left: auto;
    gap: 5px;
}

.titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 20px;
    background: rgb(245, 180, 180);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: auto;
}
